.productCard {

    border-radius: 0.9375rem;
    min-width: 18.75rem;
    height: 21.625rem;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    border: 0.125rem solid #E0E0E0;

    img {
        top: 0.625rem;
        max-width: 11.25rem;
        max-height: 12.5rem;
        align-self: center;
    }


    div {

        display: flex;
        flex-direction: column;
        gap: 0.9375rem;
        align-items: flex-start;
        width: 100%;
        padding-left: 3.125rem;
        padding-bottom: 0.9375rem;


        h3 {
            font-size: 1.125rem;
            font-weight: 700;
            margin: 0;
            text-align: center;
        }

        span {
            font-size: 0.75rem;
            line-height: 1rem;

            &.one {
                color: grey;
                font-weight: 400;
            }

            &.second {
                color:
                    #27AE60;
                font-weight: 600;
            }

        }

        button {
            color: white;
            background-color: #27AE60;
            border: transparent;
            padding: 0.625rem 25px;
            border-radius: 0.3125rem;
        }
    }
}


.productCard:hover {
    border-color: #27AE60;
}